@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div>
            <h1 class="title-header">BIENVENIDO A TU LIBRERIA</h1>
            <h4> Seleccione una categoria</h4>

            <img src="~/Imagen/ima2.png" class="header-image" />
            <img src="~/Imagen/ima3.jpg" class="custom-image" />
            <div>
                <a href="@Url.Action("Index", "PeliculasTables")">
                    <h1 class="title-biblioteca">PELICULAS</h1>
                </a>
            </div>

            <div>
                <a href="@Url.Action("Index", "SeriesTables")">
                    <h1 class="title-biblioteca">SERIES</h1>
                </a>
            </div>

            <div>
                <a href="@Url.Action("Index", "LibrosTables")">
                    <h1 class="title-biblioteca">LIBROS</h1>
                </a>
            </div>
            <img src="~/Imagen/ima4.png" class="header-image" />
            <img src="~/Imagen/ima6.png" class="custom-image" />
            <div>
                <a href="@Url.Action("Index", "VideoJuegosTables")">
                    <h1 class="title-biblioteca">VIDEOJUEGOS</h1>
                </a>
            </div>

            <div>
                <a href="@Url.Action("Index", "AnimesTables")">
                    <h1 class="title-biblioteca">ANIMES</h1>
                </a>
            </div>

            <div>
                <a href="@Url.Action("Index", "ComicsMangasTables")">
                    <h1 class="title-biblioteca">COMICS Y MANGAS</h1>
                </a>
            </div>

            <img src="~/Imagen/ima7.jpg" class="header-image" />
            <img src="~/Imagen/ima8.jpg" class="custom-image" />






</main>


