@model IEnumerable<MyFrikimindo.Models.SeriesTable>

@{
    ViewBag.Title = "Index";
}

<h2 class="title-header">Series</h2>

<p>
    @Html.ActionLink("Agregar Serie", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temporasas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capitulos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temporasas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capitulos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btnAction" })
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btnAction" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btnAction" })
            </td>
        </tr>
    }

</table>
